<% title "Users" %>

<section class="fake-edit">
  <input placeholder="Rdio Username" value="edwardloveall" />
  <span>Mac Address: C8:2A:14:06:0E:D5</span>
</section>

<section class="users"></section>

<section class="playlist">
  <div class="playlist-header"><!--
 --><span>Track</span><!--
 --><span>Artist</span><!--
 --><span>User</span>
  </div>
  <ul>
  </ul>
  <div id="api">

  </div>
</section>
