<%=  %>
<h1>Music: The Gathering</h1>

<script>
  var interval = setInterval(function () {
    updateUsers(users_json);
  }, 1500);
</script>

<section class="users"></section>

<section class="playlist">
  <div class="playlist-header"><!--
 --><span>Track</span><!--
 --><span>Artist</span><!--
 --><span>User</span>
  </div>
  <ul>
  </ul>
  <div id="api">

  </div>
</section>
