<% title "Users" %>

<section class="users"><div class="user"><div class="font-face"></div><div class="back-face"><h2>Edward Loveall</h2><a class="edit">Edit</a></div></div><div class="user"><div class="font-face"></div><div class="back-face"><h2 class="mac-address">D4:20:6D:2E:66:80</h2><a class="edit">Edit</a></div></div></section>

<section class="playlist">
  <ul>
    <li class="track current">
      <span class="play-pause playing"></span>
      <span class="name">The Bends</span>
      <span class="artist">Radiohead</span>
    </li>
    <li class="track">
      <span class="play-pause"></span>
      <span class="name">Rusty Nails</span>
      <span class="artist">Moderat</span>
    </li>
    <li class="track">
      <span class="play-pause"></span><span class="name">Ditcaphone's Lament</span>
      <span class="artist">Tycho</span>
    </li>
    <li class="track">
      <span class="play-pause"></span>
      <span class="name">Do The Astral Plane</span>
      <span class="artist">Flying Lotus</span>
    </li>
  </ul>
</section>