$base-sans: 'runda', Hevetica, sans-serif;

$color-very-light-grey: rgb(235, 235, 235);
$color-light-grey: #999;
$color-dark-grey: #333;
$color-white: white;
$color-black: black;

$color-red: #FC453A;
$color-blue: #34A9DE;

$font-size-large: 20px;
$font-size-text: golden-ratio($font-size-large, -1);


@mixin cta-button($color: #EEEEEE) {
  border: none;
  border-radius: .3em;
  @include box-shadow(inset 0 0 1px rgba(255, 255, 255, 1));
  color: darken($color, 60%);
  display: inline-block;
  font-weight: bold;
  @include linear-gradient($color, darken($color, 7%));
  padding: .3em 1em;
  text-decoration: none;

  &:active {
    @include box-shadow(inset 0 0 .4em rgba(0,0,0, .6));
    @include linear-gradient(darken($color, 7%), $color);
  }
}
